body {
    font-family: 'Montserrat', sans-serif;
      margin: 0;
   }
     h1, h2, h3, h4, h5, h6 {
      margin: 0 auto;
    }
  

    /* Header */
    .container {
    width: 100%; 
    max-width: 1440px;
    margin: 0 auto;
    }
    
    .header {
    background-color: #F5F9FE;
    }
    
    .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    }

    .header__logo{
      width: 272px;
    }
    
    
    /*Nav*/
  
    .header__nav{
     
        
    }
  
    .header__nav__link{
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 30px;
    position: relative;
    text-decoration: none;


    color: #737275;
    }

    .header__nav__link:hover{
      text-decoration: none;
    }

    .header__nav__link.pointer:focus:after{
      content: "";
      background-image: url(../images/generalpage/Polygon2.png);
      background-repeat: no-repeat;
      position: absolute;
      right: -15px;
      top: 5px;
      width: 10px;
      height: 10px;
      text-decoration: none; 
}

    .header__nav__link.pointer:focus{
      vertical-align: middle;
      color: #FFA234;
    }

    .header__input{
        position: relative;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


    .header__input--icon{
        position: absolute;
        right: 15px;
        height: auto;
        width: 24px;
        top: 12px;
    }
    .header__input--search{
        border: none;
        padding: 15px;
        font-style: italic;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        width: 331px;
        border-radius: 5px;
    }

    .header__button{
      margin-left: 20px;
    }
    
    .header__button__exit{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      padding: 15px;
      width: 179px;

      color: #FFFFFF;
      background: #2A5FC7;
      border-radius: 5px;
      border: none;
    }

    /* Intro */

    .intro{
      width: 100%;
      height: 100vh;
      background: url("../images/generalpage/girl.png") center no-repeat;
      background-size: cover;
    
    }
    .intro__inner{
      display: flex;
      /* flex-direction: row; */
      justify-content: flex-end;
      
    }
    .intro__inner__container{
      width: 570px;
      margin-top: 155px;
      margin-right: 140px;
      
}

    .intro__inner__p{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 140%;
      padding-bottom: 7px;


    color: #414141;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
      .intro__inner__p.p{
    margin: 0;
      }
    .intro__inner__logo{
    position: relative;
    padding-bottom: 7px;
    }

    .intro__inner__lianer{
      position: absolute;
      width: 245px;
      height: 8px;
      left: 0;
      top: 38px;
      background: rgba(255, 162, 52, 0.5);
    }
  

    .intro__inner__p1{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 140%;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin: 0;
      top: 0;
      position: relative;
      z-index: 1;
    }

    .yellow{
      color: #FFA234;
    }
    .bly{
      color: #2A5FC7;
    }
    .grey{
      color: #414141;
    }

    .intro__inner__p2{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      /* text-align: center; */
      margin-bottom: 34px;

      color: #444247;
    }

    .intro__button__section{
      display: flex;
      justify-content: space-between;
    }

    .intro__button__section1{
      width: 270px;
      height: 54px;
      background: #FFA234;
      border-radius: 5px;
      border: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    .intro__button__section2{
      width: 270px;
      height: 54px;
      background: #2A5FC7;
      border-radius: 5px;
      border: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;

    }

    .intro__slider{
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      width: 740px;
    }
    
    /* select circle */

    .select__pattern{
      margin-top: 40px;
      
    }
    .select__circle{
      width: 100%;
      max-width: 850px;
    }

    .select__circle__h{ 
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 140%;
      /* or 42px */

      text-align: center;
      text-transform: uppercase;

      color: #2A5FC7;
    }

    .select__search__filter{
      width: 1145px;
      height: 146px;
      margin-left: 132px;

      background: #2A5FC7;
      border-radius: 23px;
    }
    .select__search{
      display: flex;
      justify-content: space-around;
      padding: 50px 0 0 75px;
      width: 1000px;
    }

    .select__locality, .select__folklore{
      width: 314px;
      height: 48px;
      border-radius: 5px;
      border: none;
      padding-left: 30px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;

      color: #444247;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    select:focus{
      outline:none
    }

    .select__locality.pointer, .select__folklore.pointer{
      background-image: url(../images/generalpage/Polygon1.jpg);
      background-repeat: no-repeat;
      background-position: 95% center;

    }
   
    .intro__button__section1.second__block{
      width: 240px;
      height: 48px;

      background: #FFA234;
      border-radius: 5px;
      border: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;

    }


    .folklore{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }

    .left__folklore{
      width: 483px;
      height: 61px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      /* or 142% */


      color: #2A5FC7;

    }

    .direction{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      /* or 142% */


      color: #737275;

    }

    .rigth__folklore{
      margin-top: 8px;
    }

    .contact{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      /* or 20px */

      text-transform: uppercase;

      color: #2A5FC7;

    }
    .contact__information{
      display: flex;
      justify-content: space-between;
      width: 300px;
    }

    .address{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      /* or 20px */

      text-transform: uppercase;

      color: #444247;
      margin-bottom: 0;
    }

    .number{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      /* or 20px */

      text-transform: uppercase;

      color: #444247;

    }

    .email{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      /* identical to box height, or 20px */
      color: #444247;
    }

    /* preference */
    .p__preference{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 140%;
      /* or 42px */

      text-align: center;
      text-transform: uppercase;

      color: #2A5FC7;

      margin: 60px;
    }

    .our__preference{
      display: flex;
      justify-content: space-between;
      width: 1143px;
      margin: auto;


    }
    .our__preference__block{
      background: #FCFDFF;
      box-shadow: 0px 0px 2px rgba(42, 95, 199, 0.5);
      width: 367px;
      height: 300px;
    }
    
    .our__preference__logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

    .our__preference__logo__star{
      position: absolute;
      top: 18px;
    }


    .our__preference__title{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 140%;
      /* or 24px */

      text-align: center;

      color: #2A5FC7;

      padding-top: 80px;
}

    .our__preference__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 158%;
      /* or 22px */

      text-align: center;

      color: #444247;
      width: 316px;
      margin: auto;

    }


    /* gallery */

    .p__gallery{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 140%;
      /* or 42px */

      text-align: center;
      text-transform: uppercase;

      color: #2A5FC7;
      margin-top: 85px;
    }

    .gallery__foto{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      
    }

    .gallery__foto__img__1{
      border-radius: 25px;
      position: relative;
      left: 52px;
      top: 54px;
      z-index: 1;
    }

    .gallery__foto__img__2{
      border-radius: 25px;
      position: relative;
      z-index: 2;
    }

    .gallery__foto__img__3{
      border-radius: 25px;
      position: relative;
      right: 52px;
      top: 54px;
      z-index: 1;
    }

    .gallery__arrow__main{
      position: relative;
    }

    .gallery__arrow__left{
      position: absolute;
      top: 175px;
      left: 85px;

    }

    .gallery__arrow__right{
      position: absolute;
      top: 175px;
      right: 85px;
    }

    .gallery__line{
      width: 70%;
      margin: 0 auto;
      position: relative;
    }
    .gallery__line1{
      border-top: 1px solid #000000;
      width: 100%;
      margin-top: 60px;
      
    }

    .gallery__line2{
      border-top: 5px solid #2A5FC7;
      width: 20%;
      position: absolute;
      left: 29%;
      top: -2px;
    }

    .number__first{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      /* identical to box height, or 34px */

      text-align: center;
      text-transform: uppercase;

      color: #FFA234;

    }
    .number__all{
      font-family: Montserrat;
      font-style: normal;
      font-size: 20px;
      color: black;
    }

    /* event */

    .event__main{
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1166px;
      margin: 0 auto;
      margin-top: 85px;
    
    }

    .event__name{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 140%;
      /* or 42px */

      text-transform: uppercase;

      color: #2A5FC7;
    }
    .event__pages{
      display: flex;
          
      align-items: center;
}
    .event__number{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      /* identical to box height, or 34px */

      text-transform: uppercase;

      color: #FFA234;

    }

    .event__number__all{
      font-family: Montserrat;
      font-style: normal;
      font-size: 20px;
      color: black;
    }

    .event__margin{
      margin: 0 25px;
    }

    .event__block{
      display: flex;
      justify-content: space-between;
      width: 1166px;
      margin: 0 auto;
      margin-top: 30px;
      position: relative;

    }
    .event__img{
      border-radius: 25px;
      width: 100%;
      height: 200px;

    }
    .event__block__container{
      max-width: 32%;
    }

    .event__block__img{
      position: relative;
    }
    .event__img__data{
      width: 132px;
      height: 46px;
      background: #FFA234;
      border-radius: 0px 0px 24px 0px;
      position: absolute;
      bottom: 4px;
      right: 0px;
      
    }
    .event__img__data1{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      /* or 133% */

      color: #FFFFFF;
      margin-top: 12px;
      text-align: center;
      
    }
    .event__img__month{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      /* or 133% */
      color: #FFFFFF;
    }

    .event__name__course{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      /* or 28px */

      text-align: center;

      color: #2A5FC7;
    }

    .event__name__city{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      color: #0F295B;
      text-align: center;
    }

    .event__name__description{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */

      text-align: center;

      color: #444247;
      margin-bottom: 35px;
    }

    .event__button{
      text-align: center;
      position: relative;
    }

    .event__button__a{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;

      color: #2A5FC7;
      text-decoration: none;
    
      margin: 10px;
    }

    .event__button__img{
      position: absolute;
      bottom: -8px;
    }

    /* partners */

    .partners{
      background-color: #ECF2FF;
      margin-top: 85px;
    }
    .partners__name{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 140%;
      /* or 43px */
      
      text-align: center;
      text-transform: uppercase;
      
      color: #2A5FC7;
      padding-top: 30px;
      margin-bottom: 0;
    }
    .partners__logos{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 75px;
    }

    .partners__arrow{
      position: relative;
    }

    .partners__arrow__left{
      position: absolute;
      top: 115px;
      left: 70px;
    }

    .partners__arrow__right{
      position: absolute;
      top: 115px;
      right: 70px;

    }
        

    /* news */

    .news__block{
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin: 0 auto;
    }

    .news__block__container{
      width: 50%;
      margin: 0 18px;
      margin-top: 20px;
    }

    .news__block__img{
      display: flex;
      justify-content: space-between;
      
    }

    .news__img{
      margin: 0 18px;
      width: 266px;
      height: 193px;
      border-radius: 26px;
    }
 
    .news__text__name{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      color: #000000;
    }
     
    .news__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */


      color: #444247;
    }

    .news__button{
      text-align: center;
      position: relative;
      margin-top: 50px;
    }

    .news__button__a{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;

      color: #2A5FC7;
      text-decoration: none;
    
      margin: 10px;
    }

    .news__button__img{
      position: absolute;
      bottom: -8px;
    }

    /*video*/

    .video__name{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 140%;
      /* or 43px */

      text-align: center;
      text-transform: uppercase;

      color: #2A5FC7;
      margin-top: 80px;

    }
    .video__container{
      width: 1274px;
      display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}


    .video__iframe{
      width: 631px;
      height: 441px;

      border-radius: 25px;
    }


    /* about us */
    
    .about__us__container{
      width: 1207px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 100px;
    }

    .about__us__name{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 140%;
      /* or 42px */

      text-align: center;
      text-transform: uppercase;

      color: #2A5FC7;
      width: 282px;;
    }

    .about__us__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      /* or 179% */


      color: #444247;
      width: 848px;

    }
    .about__us__two__button{
      display: flex;
      align-items: center;
      margin-top: 50px;
    }

    .about__us__button1{
      width: 174px;
      height: 48px;
      background: #FFA234;
      border-radius: 5px;
      border: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    .about__us__button{
      display: flex;
      height: 35px;
      padding-left: 135px;
    }

    .about__us__button__a{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;

      color: #2A5FC7;
      text-decoration: none;
    
      margin: 10px;
    }


    /* .subscription */

    .subscription{
      background-color:  #FFA234;
      height: 242px;
      margin-top: 90px;
    }

    .subscription__news{
      position: relative;
      display: flex;
      width: 86%;
      justify-items: flex-end;
      margin: 0 auto;
      
    }

    .subscription__news__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;

      color: #0A074A;

      padding: 30px 160px;
    }

    .subscription__news__input{
      width: 717px;
      height: 78px;
      background: #FFFFFF;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
      border-radius: 5px;
      border: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      text-align: left;
      padding-left: 165px;

      color: #444247;
    }

    .subscription__logo{
      position: absolute;
      top: 27px;
      left: 99px;

    }

    .subscription__button{
      width: 275px;
      height: 78px;

      background: #2A5FC7;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
      border-radius: 5px;
      border: none;
      margin-left: 65px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    .subscription__plane{
      position: relative;
    }

    .subscription__plane__img{
      position: absolute;
      top: -17px;
      right: -145px;

      opacity: 0.5;
    }