body {
    font-family: 'Montserrat', sans-serif;
      margin: 0;
   }
     h1, h2, h3, h4, h5, h6 {
      margin: 0 auto;
    }
  }
  
    /* Header */
    .container {
    width: 100%; 
    max-width: 1440px;
    margin: 0 auto;
    }
    
    .header {
    background-color: #F5F9FE;
    }
    
    .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    }

    .header__logo{
      width: 272px;
    }
    
    
    /*Nav*/
  
    .header__nav{
     
        
    }
  
    .header__nav__link{
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 30px;


    color: #737275;
    }

    .header__nav__link.pointer:focus:after{
      background-image: url("..images/generalpage/Polygon2.png");
    }

    .header__nav__link.pointer:focus{
      vertical-align: middle;
      color: #FFA234;
    }

    .header__input{
        position: relative;
        border: none;
        box-shadow: 2px 2px 2px 2px #e8e0e0;
    }


    .header__input--icon{
        position: absolute;
        right: 15px;
        height: auto;
        width: 24px;
        top: 12px;
    }
    .header__input--search{
        border: none;
        padding: 15px;
        font-style: italic;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        width: 375px;
    }
    
    .header__button__exit{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      padding: 15px;
      width: 179px;

      color: #FFFFFF;
      background: #2A5FC7;
      border-radius: 5px;
      border: none;
    }

/* Intro */

.intro{
  background: url("../images/generalpage/girl.png") center no-repeat;
  background-size: cover;
}
 